body {
   font-family: "Arial", sans-serif;
}

section {
    text-align: center;
}

.grid-container {
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: repeat(3, auto);
    /* border: solid 4px brown; */
    width: 310px;
    margin: 50px auto;
}

.box {
    font-family: "Arial", sans-serif;
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 0px 1px rgba(223, 16, 16, 0.651);
    border: 1px solid rgba(216, 137, 20, 0.877);
    line-height: 200px;
    /* margin: 15px; */
    cursor: pointer;
    font-size: 18px;
}