
body, button {
    font-family: 'Moo Lah Lah', cursive;
    font-size: 36px;
    color: green;
}

section {
    text-align: center;
}

.grid-container {
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: solid  6px rgb(10, 134, 57);
    border-radius: 20px;
    width: 440px;
    margin: 50px auto;
}

.box {
    font-family: 'Moo Lah Lah', cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 0px 6px rgba(223, 16, 16, 0.651);
    border: 6px solid rgba(216, 137, 20, 0.877);
    border-radius: 20px;
    line-height: 100px;
    margin: 15px;
    cursor: pointer;
    font-size: 60px;
}
